@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <hr />

        @foreach (var category in ViewBag.Categories)
        {
            <button class="btn btn-primary col-md-2" style="margin-right:2px; margin-bottom: 2px;">@category.Name</button>
        }

    </div>
</div>

<hr />
