<div class="col-md-offset-1 col-md-4">
    <h3>Use external account</h3>
    <hr />
    <i class="icon-facebook icon-md icon-color3"></i>
    <i class="icon-google-plus icon-md icon-color1"></i>
    <i class="icon-twitter icon-md icon-color3"></i>
</div>