<div class="col-md-3">
    <h4>Or use an external account</h4>
    <hr />
    <i class="icon-facebook icon-md icon-color3"></i>
    <i class="icon-google-plus icon-md icon-color1"></i>
    <i class="icon-twitter icon-md icon-color5"></i>
</div>