<header id="header" role="banner">
    <div class="container">
        <div id="navbar" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        @Html.ActionLink(" ", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "icon-home" })
                    </li>
                    <li><a href="#tests">Tests</a></li>
                    <li><a href="#tutorials">Tutorials</a></li>
                    <li><a href="#ladder">Ladder</a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
                <a href="#english"><img src="images/blank.gif" class="flag flag-gb" alt="English" /></a>
                <a href="#bulgarian"><img src="images/blank.gif" class="flag flag-bg" alt="Bulgarian" /></a>
            </div>
        </div>
    </div>
</header>